header p{
    font-style: italic;
}
article>p{
    font-size: 24px;
}
h1{
    font-size: 28px;
}

section{
    margin-left: 20px;
}
ul{
    background: #444444;
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-align: center;

}
li{
    font-size: 24px;
    height: 40px;
    padding: 20px;
    line-height: 40px;
    display: inline-block;

}
body{
    margin: 0px;
    padding: 0px;
    background: #cccccc;
}
a{
    text-decoration: none;
    color: #ffffff;
}
footer{
    background: #444444;
    text-align: center;
   
}
footer>p{
    color: #ffffff;
}