@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html {
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font: 0.875rem 'Roboto', sans-serif;
}

header {
    background: linear-gradient(to bottom, rgba(25, 20, 25, 0.80), rgba(25, 25, 25, 0.85)),
    url("images/header-bg.png") no-repeat;

}

#logo {
    padding: 2%;
}

#logo, #logo > h2 {
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    font-size: 0.7rem;
    float: left
}

#nav {
    float: right;
    padding: 2%;
}

#nav ul {
    display: flex;
    list-style: none;
}

#nav li a {
    color: white;
    text-decoration: none;
    margin: 1rem;
    font-size: 0.7rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
}

#header-main-section {
    padding-top: 20%;
    text-align: center;
    color: white;
}

h1 {
    width: 35%;
    font-weight: lighter;
    margin-left: 27%;
}

#header-icon {
    position: absolute;
    left: 69%;
    bottom: 52%;
}

#header-icon:hover, #nav a:hover {
    color: #F96A2F;
    cursor: pointer;
}

#header-info {
    display: flex;
    margin-top: 5%;
}

#header-info article {
    width: 22%;
    margin-top: 7%;
    color: white;
    padding-bottom: 5%;
    margin-left: 3%;
    border-bottom: 0.7rem solid transparent;
}

.icon {
    padding-bottom: 17%;
}

#header-info article:hover {
    cursor: pointer;
    border-bottom: 0.7rem solid #F96A2F;
}

#words {
    position: relative;
    text-align: right;
}

#words article {
    display: inline-block;
    margin: 0 2% 2%;
}

#quote {
    width: 20%;
    position: absolute;
    top: 30%;
    left: 10%;
    color: #3F3F48;
}

#quote p {
    text-transform: capitalize;
    padding-top: 15%;
}

#description {
    width: 32%;
    text-align: left;
    position: relative;
    right: 7%;
}

#description p {
    padding-bottom: 10%;
    border-bottom: 1px solid;
}

#description h3 {
    padding-top: 6%;
    margin-bottom: 10%;
    color: #3F3F48;
    font-weight: bolder;
}

#image-intro img {
    position: relative;
    right: 40%;
    top: 2rem;
}

#orange-wallpaper-opacity {
    position: absolute;
    width: 27%;
    height: 27rem;
    background-color: orangered;
    opacity: 0.7;
    right: 14%;
    bottom: 6%;
}

#schedule {
    background-color: #3C3E4A;
    color: white;
}

#schedule i {
    background-color: #FA692F;
    height: 2.14rem;
    width: 2.14rem;
    text-align: center;
    border-radius: 50%;
    line-height: 2.2rem;
}

#schedule ul {
    display: inline-flex;
    flex-direction: column;
    list-style: none;
    flex-wrap: wrap;
    height: 21rem;
    margin-left: 3%;
}

#schedule li {
    margin-bottom: 60px;
    text-transform: capitalize;
    font-weight: 100;
    margin-left: 20%;
    width: 27rem;
}

#schedule h2 {
    padding: 4rem;
    width: 26%;
}

#schedule strong {
    margin: 6%;
}

#speakers-section {
    width: 90%;
    margin: 0 auto;
}

.speakers {
    display: inline-block;
    flex-direction: row;
    padding-left: 2rem;
    box-shadow: 10px 10px 15px -5px rgba(0, 0, 0, 0.25);
    margin-bottom: 3rem;
}

#speakers-section h4 {
    font-size: 2rem;
    font-weight: bolder;
    width: 53%;
    padding: 3%;
}

#speakers-section > p {
    position: relative;
    left: 48rem;
    width: 44%;
    top: -5rem;
}

.speakers h3 {
    padding: 7%;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: bolder;
    color: #000;
}

.speakers p {
    text-transform: uppercase;
    margin-bottom: 3%;
    padding: 4% 7% 7%;
    color: #D8C2BB;
}

.speakers i {
    color: black
}

.speakers i:hover {
    color: #FA692F;
}

#subscribe {
    background-color: #3C3E4A;
    text-align: center;
    height: 30rem;
    color: #ffffff;
}

#subscribe form {
    border: 1px solid #C1C2CB;
    width: 80%;
    margin: 0 auto;
    height: 20rem;
    padding-top: 4rem;
    position: relative;
    top: 3rem;
}

#subscribe h2 {
    text-transform: uppercase;
    font-size: 2rem;
    padding-bottom: 2rem;
}

#subscribe p {
    width: 43%;
    margin: 0 auto;
    padding-bottom: 4rem;
    padding-top: 1rem;
}

input[type=email] {
    border: none;
    border-bottom: 0.2rem solid #C27C64;
    background: no-repeat;
    color: white;
}

::-webkit-input-placeholder {
    color: #eeeeee;
}

input[type=submit] {
    background-color: #333333;
    border: none;
    width: 7rem;
    height: 2rem;
    text-transform: uppercase;
    border-radius: 1.3rem;
    color: #eee;
    margin-left: 3rem;
    cursor: pointer;
}

footer {
    background-color: #292A2F;
    height: 5rem;
}

footer h2 {
    color: white;
    padding: 1.5%;
    position: absolute;
    text-transform: uppercase;
}

footer p {
    float: right;
    text-transform: uppercase;
    color: #87888C;
    padding-right: 3%;
    padding-top: 2%;
}