@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v20/neILzCirqoswsqX9zoKmMw.woff2) format('woff2');
}

html {
    font-size: 16px;
}

h1 {
    color: #0088DD;
    font-size: 3rem;
    text-transform: capitalize;
    text-align: center;
    text-shadow: 3px 4px 4px #666;
    font-family: Georgia, Times, serif;
}

h2 {
    text-align: center;
    font-family: Arial;
    color: #1DACEE;
    text-transform: capitalize;
    font-weight: normal;
    letter-spacing: 5px;
    font-size: 1.6rem;
}

h3 {
    text-align: center;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: #0087DD;
}

article {
    margin: 0 auto;
    width: 55%;
    text-align: justify;
    color: #665544;
}

article p {
    font-size: 1.6rem;
    line-height: 30px;
    font-family: Arial, Verdana, sans-serif;
}

article p:first-of-type:first-letter {
    font-family: 'Lobster';
    text-transform: capitalize;
    font-size: 3.2rem;
}

p:last-of-type {
    float: right;

}

img {
    width: 200px;
    float: left;
    margin-right: 20px;
}