main{
    width: 400px;
    text-align: justify;
}
div{
    background-color: #6495ED;
    padding: 1.7%;
    width: 5rem;
    text-align: center;
    border-radius: 8px;
}
.left{
    float: left;
    margin-right: 0.3rem;
}

.right{
    float: right;
    margin-left: 10px;
}

.center{
    margin: 0 auto;
}